<nav class="navbar sticky-top navbar-expand-lg navbar-inverse navbar-fixed-top navbar-dark bg-dark"> <!-- navbar-dark bg-dark | bg-body-tertiary-->
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">alkynyl</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'new_project' %}">New Project</a></li>
              <li><a class="dropdown-item" href="{% url 'all_projects' %}">All Projects</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'new_sample' %}">New Sample(s)</a></li>
              <li><a class="dropdown-item" href="{% url 'samples' %}">All Samples</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'store' %}">Store</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'approvals' %}">Approvals</a></li>              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lab
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'query' %}">Query Stactus</a></li>
              <li><a class="dropdown-item" href="{% url 'batch' %}">Batch</a></li>
              <li><a class="dropdown-item" href="{% url 'benchSheet' %}">Bench Sheet</a></li>
              <li><a class="dropdown-item" href="{% url 'workOrder' %}">Work Order</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <!--<form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
          </form>-->
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link link-danger" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>