{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="input-group mb-3">
<label class="input-group-text" for="inputGroupSelect01">Project</label>
    <select class="form-select" id="inputGroupSelect01">
        <option selected>All Projects</option>
        {% if projects %}
            {% for project in projects %}
                <option value="{{ project.project_number }}">{{ project.project_number}}</option>
            {% endfor%}
        {% endif%}
        
    </select>
</div>
<a class="btn btn-sm btn-outline-primary" href="{% url 'new_sample' %}">Add Sample</a><br/><br/>
<table class="table table-striped table-hover table-bordered" id="dataTable">
    <thead class="table-dark">
      <tr>
        <th scope="col">Project Number</th>
        <th scope="col">Sample Number</th>
        <th scope="col">Sample Name</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>      
        {% if samples %}
            {% for sample in samples %}
                <tr>
                    <td>{{ sample.project_number }}</td>
                    <td>{{ sample.sample_number }}</td>
                    <td>{{ sample.sample_name }}</td>
                    <td><a href="{% url 'sample' sample.id %}">{{ sample.id }}</a></td>
                </tr>
            {% endfor %}
        {% endif %}      
    </tbody>
  </table>


{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-secondary">Login</button><br/><br/>
    <i>or register if you do not have an account</i><br/><br/>
    <a class="btn btn-light" href="{% url 'register' %}">Register</a>
</form>
</div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
    $('select').on('change', function(e){
    
        var url = "{% url 'samples' %}";
        $.ajax({
            url: "{% url 'samples' %}",
            data: {
                'pn': this.value
            },
            type: "GET",
            cache: true,
            dataType: 'json',
            success: function (response) {
                console.log("success");
                //$('#dataTable').html(data);
                var table = $('#dataTable').DataTable();
                table.clear();
                $.each(response, function(index, tbl) {
                    $(tbl).each(function(index, row) {
                    table.row.add(row);
                    });
                });
                table.draw();
            },
            error: function (response) {
                alert("Got an error dude " + response);
            }
        });
    });
</script>
{% endblock %}